@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  @apply bg-[#F7F7F7]
}

.font-dream-sparks-400{
  font-family: var(--font-dream-sparks);
  font-weight: 400;
}

.font-dream-sparks-700{
  font-family: var(--font-dream-sparks);
  font-weight: 700;
}

.font-bebas-neue-400{
  font-family: var(--font-bebas-neue);
  font-weight: 400;
}

.font-inter-400{
  font-family: var(--font-inter);
  font-weight: 400;
}

@layer utilities {
  .text-shadow-black {
    text-shadow: 2px 2px 0px black, -2px -2px 0px black, 2px -2px 0px black, -2px 2px 0px black;
  }
}