@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  @apply bg-[#F7F7F7]
}

.font-dream-sparks-400{
  font-family: var(--font-dream-sparks);
  font-weight: 400;
}

.font-dream-sparks-700{
  font-family: var(--font-dream-sparks);
  font-weight: 700;
}

.font-bebas-neue-400{
  font-family: var(--font-bebas-neue);
  font-weight: 400;
}

.font-inter-400{
  font-family: var(--font-inter);
  font-weight: 400;
}

.font-sf-400{
  font-family: var(--font-SF-Pro);
  font-weight: 400;
}

.font-ibm-thai-700{
  font-family: var(--font-ibm-thai);
  font-weight: 700;
}

.font-ibm-thai-600{
  font-family: var(--font-ibm-thai);
  font-weight: 600;
}

.font-ibm-thai-500 {
  font-family: var(--font-ibm-thai);
  font-weight: 500;
}

.font-ibm-thai-400 {
  font-family: var(--font-ibm-thai);
  font-weight: 400;
}

@layer utilities {
  .text-shadow-black {
    text-shadow: 2px 2px 0px black, -2px -2px 0px black, 2px -2px 0px black, -2px 2px 0px black;
  }

  .text-shadow-black-2 {
    text-shadow: 1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black;
  }
}